<ion-view view-title="Sports" hide-tabs>
    <ion-nav-bar class="bar-health bar-balanced bar-stable  bar ">
        <ion-nav-back-button>
            Back
        </ion-nav-back-button>
    </ion-nav-bar>


    <ion-content >
        <div>
    
            <div  class="bar bar-header item-input-inset">
                <div class="item-input-wrapper">
                    <i class="fa fa-search placeholder-icon"></i>
                    <input type="search"
                           placeholder="Search"
                           ng-model="search"
                           
                           class="full-width">
                    <i ng-show="search.length"
                            class=" ion-android-close input-button"
                            ng-click="search = ''"></i>
                </div>
                
            </div>
           
            <div>
                <div class="">
                    <div class=" tabs-top tabs-color-light" ion-affix>
                        <div class="rowline " a style=" display: flex;">
                            <div class="tab-sport col " ng-class="{'active': activeTab == 0 } " ng-click="slideTo(0)">
                                All sports
                            </div>
                            <div class="tab-sport col" ng-class="{'active': activeTab == 1 }" ng-click="slideTo(1)">
                                My sports
                            </div>
                        </div>
                    </div>
                    <ion-slide-box show-pager="false" on-slide-changed="onSlideChanged($index)">
                        <ion-slide style="display:block">
                            <ion-item class="item-icon-right animate-repeat m-font " ng-repeat=" item in sportitems | filter:{ name: search } as results"  border-style:dashed ;">
                                <div class="row  padding-left">
                                    <img ng-src="{{item.icon}}" class="col-20 col-center padding-right">
                                    <div class="col-50 padding-left">
                                        <div> {{item.name}}</div>
                                        <div class="s-font"> {{item.proqk}}Kcal./60Mins</div>
                                    </div>
                                </div>
                                <i class="icon ion-ios-plus-outline green" ng-click="openModal({{item.id}})" style="font-size:20px;"></i>
                            </ion-item>
                            <ion-item class="item-borderless" ng-if="results.length == 0">
                                <div class="padding mid animate-repeat"> No Result</div>

                            </ion-item>
                        </ion-slide>
                        <ion-slide>
                            <ion-item class="item-icon-right animate-repeat m-font" ng-repeat="item in usersportitems | filter:{ name :search } as meresults " style=" border-style:dashed ;">
                                <div class="row  padding-left">
                                    <img ng-src="{{item.icon}}" class="col-20 col-center padding-right">
                                    <div class="col-50 padding-left">
                                        <div> {{item.name}}</div>
                                        <div class="s-font"> {{item.proqk}}Kcal./60Mins</div>
                                    </div>
                                </div>
                                <i class="icon ion-ios-plus-outline green" ng-click="openModal({{item.id}})" style="font-size:20px;"></i>
                            </ion-item>
                            <ion-item class="item-borderless" ng-if="meresults.length == 0">
                                <div class="padding mid animate-repeat"> No Result</div>
                            </ion-item>
                        </ion-slide>
                    </ion-slide-box>

                </div>

            </div>
        </div>
    </ion-content>

</ion-view>

