<ion-view view-title="Log In" style="top:0;bottom :0;left :0;right :0;width:100%">
    <ion-nav-bar class="bar bar-health bar-balanced bar-stable  ">
      
    </ion-nav-bar>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="tosignup()">
            Sign Up
        </button>
    </ion-nav-buttons>
    <ion-content class="stable-bg">
       <form name="loginForm" ng-submit="submitForm()" novalidate>
           <!-- USERNAME -->
          
               <label class="item item-input light-bg" ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }" >


                   <span class="padding-right"><i class="col mid icon ion-ios-person-outline xxxl-font balanced"></i></span>
                   <input type="text" name="username" class="form-control" ng-model="user1.username" placeholder="Account" required>
                   <i ng-show="user.username.length" class=" ion-android-close input-button" ng-click="clearname()"></i>
               </label>
        
           
           
           <!-- PASSWORD -->
           <label class="item item-input light-bg" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
               <span class="padding-right"><i class=" col mid icon ion-ios-locked-outline xxxl-font balanced"></i></span>
               <input type="password" name="password" class="form-control" ng-model="user1.password" placeholder="Password" required>
               <i ng-show="user.password.length" class=" ion-android-close input-button" ng-click="clearpas()"></i>
           </label>
           <div ng-show="{{error_message}}" class=" padding errormsg">{{error_message}}</div>
        
           <div class="padding">
               <button class="button button-block button-balanced" ng-click="signIn(user1)">
                   Log In
               </button>
              
           </div>
    </form>
       
    </ion-content>
</ion-view>
 
